*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #A786DF;
}
.margen{
    padding: 0 21px;
}
.contenedor{
    background-color: #FEC7D7;
    width: 375px;
    height: 99.8vh;
    margin: 0 auto;
    max-width: 375px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.contenedor_cabecera{
    width: 100%;
}
.adopta{
    font-size: 24px;
    width: 100%;
    height: 66px;
    text-align: left;
    font-weight: 800;
    margin: 24px 0;
}
/* .adopta span{
    display: block;
    width: 100%;
} */
.categoria{
    width: 100%;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
}

.fotos{
    width: 327px;
    height: 548px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.fotos img{
    cursor: pointer;
}

.fotos_contenedorleft{
    width: 156px;
    height: 524px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fotos_contenedorright{
    width: 155px;
    height: 548px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
}

.menu_bottom{
    width: 100%;
    height: 72px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu_bottom a{
    text-decoration: none;
}

.bx{
    font-size: 25px;
    display: flex;
    align-items: center;
}
.bx span{
    display: none;
}

a.active{
    width: 115px;
    height: 40px;
    border-radius: 80px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #85D1CE;
    background-color: #0E172C;
    cursor: pointer;
}
span.activo{
   display: inline-block;
   color: #B5D1CE;
   font-size: 15px;
   margin-left: 5px;
   letter-spacing: 1.1px;
}
.menu_bottom .btn img{
    margin-right: 9px;
    width: 24px;
    height: 24px;
}